---
---
/* CONFIGURATION */

/* Bodytext font */
$font: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;


/* Font for headings */
$fontheadings: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #0a9268;
$primary: #303338;

/* Background Color */
$background-color: #FFFFFF;

/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "syntax";
@import "responsive";
