---
layout: default
---
<section class="page-title">
  <h1>Portfolio</h1>
</section>

<article class="container">
{% for post in site.categories.portfolio %}
  {% unless post.draft %}
    <section class="index">
        <div>
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            {% if post.image %}
            <div class="post-image">
              <img src="{{ site.baseurl }}/images/{{ post.image }}" class="image">
            </div>
            {% endif %}
            <p>{{ post.excerpt }}</p>
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
</article>
