.site-nav {
    background:#fff;
    height:60px;
    position:fixed;
    left:0;
    right:0;
    top:0;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:100;
    
    .caret {
        opacity:0.2;
    }
    
    .brand img {
        height:40px;
        margin-right:10px;
        margin-top:-2px;
    }
    
    .dropdown {
        display:inline-block;
    }
    
    nav {
        padding:12px 30px;
        float:left;
        height:80px;
        display:table-cell;
    }
    
    #navigation {
        padding-right:0;
        
        a {
            border:0;
            margin:0 0.9em;
            display:inline-block;
            
            &:hover {
                color:$accent;
            }
        }
        
        > a, .dropdown-toggle  {
            color:#444;
            border:0;
            font-weight:600;
            font-size:15px;
            display:inline-block;
        }
        
        .dropdown-toggle {
            padding: 6px 0.5em;
            text-align: center;
            
            &:hover {
                background:#eee;
            }
        }
    }
    
    .tagline {
        float:right;
        text-align:right;
        font-size:15px;
        font-weight:600;
        
        span {
            line-height:0;
            padding-right:20px;
        }
    }
}

body.nav-hidden {
    .site-nav {
        top:-100px;
        transition:all 0.35s ease;
        -webkit-transform: translate3d(0px, 0, 0px);
    }
}

.site-nav {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    
    h1#logo {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    nav a {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}

@media all and (max-width: 660px) {
    .site-nav h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .site-nav nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    .site-nav nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    .site-nav.smaller {
        height: 75px;
    }
    .site-nav.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    .site-nav.smaller nav {
        height: 35px;
    }
    .site-nav.smaller nav a {
        line-height: 35px;
    }
}

.site-nav.smaller {
        height: 75px;
}

.site-nav.smaller h1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
}

.site-nav.smaller nav a {
    line-height: 75px;
}

