.site-nav {
    background: #303338;
    height:90px;
    position:fixed;
    left:0;
    right:0;
    top:0;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:100;
    
    .caret {
        opacity:0.2;
    }
    
    .brand {
        position: absolute;
        left: 0;
    }
    
    .brand img {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height:60px;
        margin-right:10px;
        margin-top:-2px;
    }
    
    .dropdown {
        display:inline-block;
    }
    
    nav {
        padding:0px 30px;
        padding-left: 100px;
        float:left;
        display:table-cell;
    }
    
    #navigation {
        padding-right:0;
        
        a {
            border:0;
            margin:0 0.9em;
            display:inline-block;
            
            &:hover {
                color:$accent;
            }
        }
        
        > a, .dropdown-toggle  {
            font-size: 19px;
            line-height: 90px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            color:#FFF;
            border:0;
            font-weight:300;
            display:inline-block;
        }
        
        .dropdown-toggle {
            padding: 6px 0.5em;
            text-align: center;
            
            &:hover {
                background:#eee;
            }
        }
    }
    
    .tagline {
        float:right;
        text-align:right;
        font-size:15px;
        font-weight:600;
        
        span {
            line-height:0;
            padding-right:20px;
        }
    }
}

body.nav-hidden {
    .site-nav {
        top:-100px;
        transition:all 0.35s ease;
        -webkit-transform: translate3d(0px, 0, 0px);
    }
}

.site-nav {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    
    nav {
        height: 90px;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
        
        #pull {
            display: none;
        }
    }
}

.site-nav.smaller {
    height: 60px;
    
    nav {
        height: 60px;
    }
    
    h1#logo {
        width: 150px;
        height: 75px;
        line-height: 75px;
        font-size: 30px;
    }
    #navigation > a, .dropdown-toggle {
        line-height: 60px;
    }
    
    .brand {
        left: 10px;
    }
    
    .brand img {
        height: 40px;
    }

}

.display-none {
    display: none !important;
}

@media all and (max-width: 500px) {
    
    .site-nav {
        height: auto;
    }
    
    .site-nav nav {
        padding-left: 0;
        /*display: block;*/
        float: left;
        height: 100%;
        margin: 0 auto;
        
        #pull {
            display:block;
        }
    }
    .site-nav nav a {
        line-height: 50px;
        margin: 0 10px;
        float: left;
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
    }
    
    .site-nav #navigation a.brand {
        display: none;
    }
    
    .site-nav.smaller nav {
        height: 35px;
    }
    .site-nav.smaller nav a {
        line-height: 35px;
    }
}
