---
layout: default
---
<section class="page-title">
  <h1 class="title">{{ post.category }}</h1>
</section>

<article>

    <div class="container">
        <header>
            <div class="meta">
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {% if page.image %}
            <div class="post-image">
              <img src="/images/{{ page.image }}" class="image">
            </div>
            {% endif %}
            {{ content }}
        </section>

        {% if page.disqus_identifier %}
        <section>
            {% include disqus.html disqus_identifier=page.disqus_identifier %}
        </section>
        {% endif %}
    </div>
</article>
